---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="API">
  <h1 slot="intro">Component API</h1>

  <p>
    Each component's properties/attributes, events, methods, slots, CSS parts
    and custom properties are documented on the respective pages below.
  </p>

  <ul>
    <li><a href="./calendar-date/"><code>{`<calendar-date>`}</code></a></li>
    <li><a href="./calendar-range/"><code>{`<calendar-range>`}</code></a></li>
    <li><a href="./calendar-month/"><code>{`<calendar-month>`}</code></a></li>
  </ul>
</Layout>
