<p class="intro"><slot /></p>

<style>
  .intro {
    margin-block: var(--space-2xs) 0;
    font-size: var(--step-2);
    color: var(--color-intro);
    font-weight: 300;
    line-height: 1.3;
    letter-spacing: -0.005em;
    text-wrap: pretty;
  }
</style>
