@layer theme {
  /* @link https://utopia.fyi/type/calculator?c=320,15,1.2,1750,18,1.2,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  :root {
    --step--2: clamp(0.651rem, 0.6219rem + 0.1457vi, 0.7813rem);
    --step--1: clamp(0.7813rem, 0.7463rem + 0.1748vi, 0.9375rem);
    --step-0: clamp(0.9375rem, 0.8955rem + 0.2098vi, 1.125rem);
    --step-1: clamp(1.125rem, 1.0747rem + 0.2517vi, 1.35rem);
    --step-2: clamp(1.35rem, 1.2896rem + 0.3021vi, 1.62rem);
    --step-3: clamp(1.62rem, 1.5475rem + 0.3625vi, 1.944rem);
    --step-4: clamp(1.944rem, 1.857rem + 0.435vi, 2.3328rem);
    --step-5: clamp(2.3328rem, 2.2284rem + 0.522vi, 2.7994rem);
  }

  /* @link https://utopia.fyi/space/calculator?c=320,16,1.25,1140,18,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4,s-2xs&g=s,l,xl,12 */
  :root {
    --space-3xs: clamp(0.25rem, 0.2256rem + 0.122vi, 0.3125rem);
    --space-2xs: clamp(0.5rem, 0.4756rem + 0.122vi, 0.5625rem);
    --space-xs: clamp(0.75rem, 0.7012rem + 0.2439vi, 0.875rem);
    --space-s: clamp(1rem, 0.9512rem + 0.2439vi, 1.125rem);
    --space-m: clamp(1.5rem, 1.4268rem + 0.3659vi, 1.6875rem);
    --space-l: clamp(2rem, 1.9024rem + 0.4878vi, 2.25rem);
    --space-xl: clamp(3rem, 2.8537rem + 0.7317vi, 3.375rem);
    --space-2xl: clamp(4rem, 3.8049rem + 0.9756vi, 4.5rem);

    /* One-up pairs */
    --space-3xs-2xs: clamp(0.25rem, 0.128rem + 0.6098vi, 0.5625rem);
    --space-2xs-xs: clamp(0.5rem, 0.3537rem + 0.7317vi, 0.875rem);
    --space-xs-s: clamp(0.75rem, 0.6037rem + 0.7317vi, 1.125rem);
    --space-s-m: clamp(1rem, 0.7317rem + 1.3415vi, 1.6875rem);
    --space-m-l: clamp(1.5rem, 1.2073rem + 1.4634vi, 2.25rem);
    --space-l-xl: clamp(2rem, 1.4634rem + 2.6829vi, 3.375rem);
    --space-xl-2xl: clamp(3rem, 2.4146rem + 2.9268vi, 4.5rem);
  }

  :root {
    --color-tw-gray-900: #111827;
    --color-tw-gray-800: #1f2937;
    --color-tw-gray-500: #6b7280;
    --color-tw-gray-400: #9ca3af;
    --color-tw-red-600: #dc2626;
    --color-bg: rgba(0, 0, 0, 0.06);

    --palette-1: rgb(60, 72, 107);
    --palette-2: rgb(250, 250, 250);
    --palette-3: rgb(249, 217, 73);
    --palette-4: rgb(244, 80, 80);

    --font-family: system-ui, sans-serif;
    --color-surface: var(--palette-2);
    --color-body: var(--color-tw-gray-900);
    --color-heading: var(--color-tw-gray-800);
    --color-intro: var(--color-tw-gray-500);
    --color-border: var(--color-tw-gray-400);
    --color-accent: var(--color-tw-red-600);

    --border-radius: 3px;
    --gutter: var(--space-m);
  }

  calendar-month {
    --color-text-on-accent: var(--color-surface);
  }
}

@layer reset {
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding-block: var(--space-s-m);
    padding-inline: var(--gutter);
  }

  ul {
    padding: 0;
    margin-inline: 0;
  }

  ul:not(ul ul) {
    margin-block: 0 var(--space-s);
  }

  li {
    margin-left: 1em;
    padding-left: 0.5rem;
  }

  li + li {
    margin-block-start: calc(var(--space-3xs) / 2);
  }

  strong {
    font-weight: 500;
  }
}

@layer typography {
  body {
    font-family: var(--font-family);
    font-size: var(--step-0);
    line-height: 1.6;
  }

  h1,
  h2,
  h3 {
    margin-block: var(--space-l) var(--space-s);
    line-height: 1.2;
  }

  h1 {
    margin-block: 0 var(--space-m);
    font-size: var(--step-4);
    letter-spacing: -0.02em;
    line-height: 1.15;
  }

  h2 {
    font-size: var(--step-2);
    margin-block-start: var(--space-xl);
  }

  h3 {
    font-size: var(--step-1);
    margin-block-end: var(--space-xs);
  }

  p {
    font-size: var(--step-0);
    margin-block: 0 var(--space-s);
  }
}

@layer utils {
  .container {
    max-width: 72ch;
    margin-inline: auto;
  }

  .scroll-x {
    overflow-x: auto;
  }
}

@layer components {
  body {
    background: var(--color-surface);
    color: var(--color-body);
  }

  h1,
  h2,
  h3 {
    color: var(--color-heading);
  }

  a {
    color: var(--color-accent);

    &:visited {
      color: var(--color-accent);
    }

    &:focus-visible {
      outline: 2px solid var(--color-accent);
      outline-offset: 1px;
      border-radius: 1px;
      text-decoration: none;
    }
  }

  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-xs);
    flex-wrap: wrap;

    h1 {
      margin: 0;
      border-block-end: var(--space-3xs) solid var(--color-accent);
    }

    a {
      text-decoration: none;
    }
  }

  h2 {
    code {
      padding: 0;
      background: none;
      color: var(--color-accent);
    }
  }

  table {
    text-align: start;
    border-collapse: collapse;
    min-inline-size: 100%;

    th,
    td {
      padding-block: var(--space-xs);
      padding-inline: var(--space-2xs);
    }

    td {
      border-bottom: 1px solid var(--color-border);
      vertical-align: top;
    }

    th {
      text-align: start;
      font-weight: 500;
      border-bottom: 1px solid var(--color-heading);
    }

    :is(td, th):first-child {
      padding-inline-start: 0;
    }

    :is(td, th):last-child {
      padding-inline-end: 0;
    }
  }

  pre {
    background: var(--color-bg);
    padding-block: var(--space-s);
    padding-inline: var(--space-m);
    overflow-x: auto;
    margin-inline: calc(var(--gutter) * -1);
    margin-block-start: var(--space-m);

    code {
      background: none;
      padding: 0;
    }
  }

  code {
    background: var(--color-bg);
    padding-block: 0.1em;
    padding-inline: 0.3em;
  }

  nav {
    ul {
      display: flex;
      gap: var(--space-s);
      list-style: none;
      margin: 0;
    }

    li {
      margin: 0;
      padding: 0;
    }

    svg {
      width: 1em;
      height: 1em;
      margin-top: 1px;
      fill: var(--color-body);
    }

    a {
      display: flex;
      gap: var(--space-3xs);
      align-items: center;
      line-height: 1;

      &:focus-visible {
        outline-offset: 3px;
      }
    }
  }

  footer {
    margin-block-start: var(--space-l);
    text-align: end;
  }

  .intro {
    margin-block-start: var(--space-2xs);
    font-size: var(--step-2);
    color: var(--color-intro);
    font-weight: 300;
    line-height: 1.4;
    letter-spacing: -0.005em;
    text-wrap: pretty;
  }
}

.grid {
  display: flex;
  gap: var(--space-l);
  flex-wrap: wrap;
  justify-content: center;
}

calendar-date,
calendar-range {
  max-width: fit-content;
  margin: 0 auto;
  padding: 1em;
}
